# Copy this file to keystore.properties (add keystore.properties to .gitignore!)
storeFile=app/keystore/smartkeyboard-release.keystore
storePassword=YOUR_STORE_PASSWORD
keyAlias=smartkeyboard
keyPassword=YOUR_KEY_PASSWORD
